body{
    background: #ec4429c9;
}

.whiteBox{
    display:inline-block;
    height:155px;
    width:155px;
    margin:10px;
    background-color: white;
    border:solid 2px darkred;
}

.imgBox{
    background-image: url('image.jpg');      /* kvl is line se image show ni hogi hume kisi bhi div ko display krwane k liye uski height and width set krni hoti h */
    position:relative;
    height:145px;
    width:145px;
    top:4px;
    left:4px;
    background-size: 100% 100%;
    cursor:pointer;
}


.hold{
    border:solid red 4px;
}

.hide{
    display:none;
}

.dashed{
    background:rgb(230, 223, 223);
    border-style:dashed;
}